body{
	padding: 0;
	margin: 0;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
section {
	margin: 30px;
	padding: 25px;
	margin-top: 10px;
}
nav{
	margin-top: 10px;
	padding: 30px;
}
ul {
	list-style-type: none;
}
li{
	font-size: 20px;
	margin-left: -15px;
	list-style-type: none;
}
span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
input{
	position: relative;
	top: 10px;
	margin-bottom: 10px;
}
nav{

	font-size: 20px;
	width: 600px;
	margin-left:50px;
}
button{
	float: left;
	width: 180px;
	margin-top: 10px;
}
#leftTab{
	  margin-left: 20px;
}
.container-fluid{
	padding: 0;
}
.fa-trash {
	padding-top:5px;
	cursor: pointer;
	float: right;
	margin-left: 10px;
	color: #D9534F;
}
.fa-pencil-square {
	padding-top:5px;
	cursor: pointer;
	float: right;
	color: #F0AD4E;
}
#forms {
	width: 410px;
	float: right;
	margin-right: 50px;
}
#forms p {
	padding-top: 18px;
	margin-left: 10px;
	clear: left;
}
#forms button {
	clear: left;
}
#forms span {
	float: left;
}
#row{
	cursor: pointer;
	margin-left: 20px;
	padding: 0px 10px;
	margin-top:10px;
}
#row:hover{
	border-radius: 4px;
	background-color:#eee;
}
.jumbotron {
	margin: 30px auto;
	width: 95%;
	text-align: center;
	padding-top:30px;
	padding-bottom: 30px;
}